* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #000;
}

.screen-login {
    background-image: url('/assets/image/screem-login.jpg');
    background-size: auto;
    box-shadow: inset 0 0px 800px 75px;
    overflow: hidden;

    height: 100%;
    width: 100%;
}

.nav-netflix {
    height: 80px;
    width: 95%;
    margin: 0 auto;
}

.logo-nav {
    width: 163px;
}
.logo-nav img {
    width: 100%;
    margin-top: -35px
}
.conteiner-login {
    width: 95%;
    height: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}
.content-login {
    background-color: rgba(0, 0, 0, 0.795);
    border-radius: 4px;

    height: 100%;
    width: 410px;

    padding: 60px 64px 40px;
    margin-bottom: 25px;
}

.conteiner-login h1 {
    color: #fff;
    font-size: 1.6rem;
}

.input-email,
.input-senha {
    font-size: .9rem;
    background-color: #333;
    border: none;
    border-radius: 3px;
    height: 46px;
    width: 100%;
    padding: 10px 16px;
}

.input-email {
    margin-top: 30px;
    margin-bottom: 18px;
}
.btn-screen {
    width: 100%;
    height: 46px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 1rem;

    margin-top: 35px;
}

.input-check {
    display: flex;
    justify-content: flex-start;
    color: #b3b3b3;
    font-size: .75rem;
    margin-top: 14px;
}
.label-check {
    margin-left: 5px;
}
.input-check p {
    margin-left: auto;
}
.input-check  a {
    color: #b3b3b3;
    text-decoration: none;
}
.input-check  a:hover {
    text-decoration: underline;
}
.footer-login {
    margin-top: 75px;
    margin-bottom: 65px;
    padding: 10px 0;
}
.footer-login h4 {
    font-weight: 300;
    font-size: .9rem;
    color: #737373;
    margin-bottom: 10px;
}
.footer-login p {
    color: #737373;
    font-size: .75rem;
    line-height: 16px;
}
.footer-login .footer-a1 {
    color: #fff;
    font-weight: 700;
}
.footer-login a {
    color: #0071eb;
    text-decoration: none;
}
.footer-login a:hover {
    text-decoration: underline;
}

@media (width < 745px) {
    .conteiner-login {
        width: 100%;
    }

    .nav-netflix {
        background-color: #000;
        width: 100%;
    }
    .logo-nav {
        padding-left: 15px;
        width: 176px;
    }
    .content-login {
        background-color: #000;
        border-bottom: 1px solid #ccc;
        height: 80vh;
        width: 100vw;
        padding: 5px 30px 40px;;
    }
}

.footer-divide-bottom {
    border: 5px solid #222 ;
    width: 100%;

}

.card-footer {
    background-color: rgba(0, 0, 0, 0.719);
    color: #fff;
    height: 45vh;
    width: 100%;
    padding: 0 190px;
    margin: 0 auto;
    overflow: hidden;
}
.footer-p a {
    color: #737373;
    text-decoration: none;
}
.footer-p a:hover {
    text-decoration: underline;
}

.card-footer .footer-p {
    font-size: .9rem;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #737373;
}

.content-footer {
    width: 100%;
    list-style: none;
    
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: space-between;
    width: 90%;
    font-size: .75rem;
    font-weight: 200;
}
.content-footer a {
    text-decoration: none;
    color: #737373;
}
.content-footer a:hover {
    text-decoration: underline;
}
.footer-card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #737373;
}

#end-idioma {
    padding: 15px 18px;
    border-radius: 3px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #737373;

    margin-top: 25px;
}
#end-idoma  option {
    background-color: rgb(49, 49, 49);

}
.end-p-footer {
    color: #737373;
    font-size: .8rem;
    margin-top: 20px;
}

@media (max-width: 950px) {
    .card-footer {
        height: 70vh;
    }
}

@media (max-width: 501px) {

    .conteiner-login {
        height: 70vh;
    }

    .screen-login {
        background-image: none;
        background-color: #000;
    }
    
    .content-footer {
        font-size: .7rem;
    }
    .card-footer {
        background-color: #000;
        height: 45vh;
        padding: 0 15px;
    }

    .footer-divide-bottom {
        border: 5px solid #222 ;
        width: 100%;
    }
    
}
